<lasso-page name='index' package-path='./index.browser.json' />
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Voting app</title>

    <lasso-head />
  </head>
  <body>
    <include("./_/header.marko")></include>
    <h1>Submitted polls</h1>
    <include("./_/polls-list.marko")></include>

    <lasso-body />
  </body>
</html>
