<lasso-page name='index' dependencies=[
  './index.scss',
  'require-run: ./index.js' ] />

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Voting app</title>

    <lasso-head />
  </head>
  <body>
    <include("./_/header.marko")></include>
    <h1>Submitted polls</h1>
    <include("./_/polls-list.marko") provider=data.providers.allPolls></include>

    <lasso-body />
  </body>
</html>
