<layout-use("./base.marko") lasso-page={
    name: 'index',
    dependencies: [ './index.scss', 'require-run: ./index.js' ]
}>

  <layout-put into="body">
      <h1>Submitted polls</h1>
      <include("./_/polls-list.marko") provider=data.provider></include>
  </layout-put>

</layout-use>
