<div class="header">
  <a href="/">Voting app</a>

  <ul>
    <a id='login-button'>Login</a>
    <a href="logout">Logout</a>
    <a href="user-polls">My polls</a>
    <a href="new-poll">New poll</a>
  </ul>
</div>
