<div class="polls-list">
  <await(polls from data.provider)>
    <await-error>
        Error
    </await-error>
    <await-timeout>
        Timeout error
    </await-timeout>

    <ul if(polls.length > 0)>
      <li class='poll-item' for(poll in polls)>
        <span>${poll.title}</span>
        <a class='poll-item-button' href="/polls/votes/${poll._id}">Open</a>
      </li>
    </ul>
    <p else>No polls submitted</p>
  </await>
</div>
