<div class="polls-list">
  <await(polls from data.provider())>
    <await-error>
    </await-error>
    <await-timeout>
    </await-timeout>

    <ul if(polls.length > 0)>
      <li class='poll-item' for(poll in polls)>
        <span>${poll.title}</span>
        <a class='poll-item-button' href="polls/${poll.title}">Open</a>
      </li>
    </ul>
    <p else>No polls submited</p>
  </await>
</div>
