<div class="polls-list">
  <await(polls from data.provider())>
    <await-error>
    </await-error>
    <await-timeout>
    </await-timeout>

    <ul if(polls.length > 0)>
      <li for(poll in polls)>
        <p>${poll.title}</p>
      </li>
    </ul>
    <p else>No polls submited</p>
  </await>
</div>
